h2 {
  margin-bottom: 20px;
}

main {
  min-height: calc(100vh - 70px - 45px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-description p {
  margin: 10px 0;
}

@media only screen and (min-width: 768px) {
  .submit-button {
    margin-top: 10px;
  }
}
