@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .header-nav {
    width: 150px;
  }

  .nav-btn {
    display: flex;
  }

  .nav-list {
    display: none;
    background-color: #444444;
    padding-right: 0;
  }

  .nav-list.open {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
  }

  .nav-list ul li {
    line-height: 2.5rem;
    font-size: 1.2rem;
    margin-left: 5px;
  }
}
